<div class="container">
    <main class="main">
      <form (submit)="$event.preventDefault()">
        <div class="input__group">
          <label class="input-label">Текстовое поле</label>
          <input type="text" class="input">
          <span class="input-error">Введите текст</span>
        </div>
        <div class="input__group">
          <label for="scales" class="input-checkbox">
            <input type="checkbox" id="scales" name="scales" checked>
            <span class="checkbox_mask"></span>
            Scales
          </label>
        </div>
        <a class="button button-repeat">+</a>
        <button class="button">Сохранить</button>
      </form>
    </main>
  </div>
