<app-header [title]="'Expandable form'"></app-header>

<div class="container">
  <main class="main">
    <form (submit)="$event.preventDefault()">
      <div class="input__group">
        <label class="input-label">Текстовое поле</label>
        <input type="text" class="input">
      </div>
      <div class="input__group">
        <div>
          <input type="checkbox" id="scales" name="scales" checked>
          <label for="scales">Scales</label>
        </div>
      </div>
      <button mat-raised-button>Submit</button>
    </form>
  </main>
  
</div>
